<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.darling.easylive.Mapper.userAccountMapper">

    <sql id="base_column_list">
        uid,username,password,nickname,avatar,background,gender,description,exp,coin,vip,state,
        role,auth,auth_msg,create_date,delete_date
    </sql>



    <insert id="register" parameterType="com.darling.easylive.Pojo.dto.userDto">
        INSERT INTO user (
        username,
        password,
        nickname,
        avatar,
        background,
        gender,
        description,
        exp,
        coin,
        vip,
        state,
        role,
        auth,
        auth_msg,
        create_date,
        delete_date
        )
        VALUES (
        #{username},
        #{password},
        #{nickname},
        #{avatar},
        #{background},
        #{gender},
        #{description},
        #{exp},
        #{coin},
        #{vip},
        #{state},
        #{role},
        #{auth},
        #{auth_msg},
        #{create_date},
        #{delete_date}
        )
    </insert>

    <insert id="insert" parameterType="com.darling.easylive.Pojo.dto.userDto">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="bean.uid != null">
                bean.uid,
            </if>
            <if test="bean.username != null">
                bean.username,
            </if>
            <if test="bean.password != null">
                bean.password,
            </if>
            <if test="bean.nickname != null">
                bean.nickname,
            </if>
            <if test="bean.avatar != null">
                bean.avatar,
            </if>
            <if test="bean.background != null">
                bean.background,
            </if>
            <if test="bean.gender != null">
                bean.gender,
            </if>
            <if test="bean.description != null">
                bean.description,
            </if>
            <if test="bean.exp != null">
                bean.exp,
            </if>
            <if test="bean.coin != null">
                bean.coin,
            </if>
            <if test="bean.vip != null">
                bean.vip,
            </if>
            <if test="bean.state != null">
                bean.state,
            </if>
            <if test="bean.role != null">
                bean.role,
            </if>
            <if test="bean.auth != null">
                bean.auth,
            </if>
            <if test="bean.authMsg != null">
                bean.auth_msg,
            </if>
            <if test="bean.createDate != null">
                bean.create_date,
            </if>
            <if test="bean.deleteDate != null">
                bean.delete_date,
            </if>
        </trim>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="bean.uid != null">
                #{bean.uid},
            </if>
            <if test="bean.username != null">
                #{bean.username},
            </if>
            <if test="bean.password != null">
                #{bean.password},
            </if>
            <if test="bean.nickname != null">
                #{bean.nickname},
            </if>
            <if test="bean.avatar != null">
                #{bean.avatar},
            </if>
            <if test="bean.background != null">
                #{bean.background},
            </if>
            <if test="bean.gender != null">
                #{bean.gender},
            </if>
            <if test="bean.description != null">
                #{bean.description},
            </if>
            <if test="bean.exp != null">
                #{bean.exp},
            </if>
            <if test="bean.coin != null">
                #{bean.coin},
            </if>
            <if test="bean.vip != null">
                #{bean.vip},
            </if>
            <if test="bean.state != null">
                #{bean.state},
            </if>
            <if test="bean.role != null">
                #{bean.role},
            </if>
            <if test="bean.auth != null">
                #{bean.auth},
            </if>
            <if test="bean.authMsg != null">
                #{bean.auth_msg},
            </if>
            <if test="bean.createDate != null">
                #{bean.create_date},
            </if>
            <if test="bean.deleteDate != null">
                #{bean.delete_date},
            </if>
        </trim>
    </insert>

    <select id="getUserInfo" resultType="com.darling.easylive.Pojo.dto.userDto">
        select * from user where username=#{username} and password=#{password}
    </select>


</mapper>